.wrapper {
  max-width: 46rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -4rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    margin-top: -3.875rem;
  }
}